@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, synthwave;
}

@plugin "daisyui/theme" {
    name: "synthwave";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(13% 0.028 261.692);
    --color-base-200: oklch(21% 0.034 264.665);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(96% 0.003 264.542);
    --color-primary: oklch(60% 0.118 184.704);
    --color-primary-content: oklch(98% 0.014 180.72);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(54% 0.245 262.881);
    --color-accent-content: oklch(97% 0.014 254.604);
    --color-neutral: oklch(27% 0.033 256.848);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

html {
    scroll-behavior: smooth;
}